
.pull-left > img {
  margin-left:50px;
}
.test{
  font-size:25px;
  margin-left:5px;
}


#header-nav{
  background-color:#c6f0f5;
  border-radius:0;
  border:0;
}
#nav-list a{
  color: #000000;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
}
#nav-list a:hover{
  background:#c6e3f5;
  border-radius: 2px;
  transition: all 1s linear;
}
#nav-list a span{
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{
  clear:both;
}
